section, .userForm, .doctorEl{
	display: none;
}
section.active, form.active{
	display: block;
}

html, body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
a {
  color: inherit !important;
  text-decoration: none;
 }
body{
	font-family: arial;
}
form label{
}
header{
	background-color: #4b4b4b;
	height: 15%;
	color: white;
	font-size: 0.85em;
}
.loaderIcon{
	position: absolute;
	width: 50px;
	top: 50%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
