.footerbutton{
	width: 90%;
	background-color: #f0f0f0;
	border: none;
	height: 3em;
	margin-top: 1em;
	text-align: left;
	display: inline-block;
	vertical-align: bottom;
}
.footerbutton + i{
	width: 9%;
	display: inline-block;
	height: 1.25em;
	color: #969696;
	text-align: center;
	font-size: 2em;	
	background-color: #f0f0f0;
}


header h2{
	width: 85%;
	display: inline-block;
}
header i, header h1{
	display: inline-block;
}
header i.icon-plus{
	font-size: 2em;
	margin-left: 25%;
	vertical-align: middle;
}
header i.icon-chevron-left{
	width: 10%;
	font-size: 2em;
	vertical-align: middle;
}
.button{
	background-color: #4b4b4b;
	border: none;	
}
section.user{
	width: 	100%;
	padding: 2%;
}
/*-------------------------------------login----------------------------------*/
#title{
	margin-bottom: 20%;
	width: 100%;
	text-align: center;
}
input[type="text"], input[type="password"]{
	border: none;
	height: 3em;
	width: 95%;
	display: block;
	background-color: #f0f0f0;
	border: solid 1px #969696;
}
form[name="loginForm"] label{
	margin: 0;
	width: 100%;
}
#loginButton{
	width: 40%;
	height: 3em;
	margin: 10%;
	display: block;
	float: 	right;	
}
input[type="file"]{
	display: block;
	margin: 0.5em;
}
/*---------------------------------home-------------------------------------------------*/
h1#home{
	margin-left: auto;
	margin-right: auto;
}
header > button{
	background-color: #4b4b4b;
	border: none;
	color: white;
	font-size: 2em;
	float: right;
	padding: 1em;
}
nav{
	width: 65%;
	display: block;
	margin: 20% auto 0 auto;
}
nav > a{
	width: 49%;
	height: 0%;
	padding:0 0 49% 0;
	display: inline-block;
	background-color: #f0f0f0;
	vertical-align: top;
	border: 1px solid #969696;
}
nav > a > figure{
	position: relative;
	margin: auto 0 auto 0;
	vertical-align: middle;
	padding: 5% 20% 5% 20%;
}
nav > a > figure > img{
	width: 100%;
}
nav > a > figure > figcaption{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 1em;
	vertical-align: bottom;
}
/*---------------------------------exercises----------------------------------------*/
.exercises{
	table-layout: fixed;
	height: 70%;
	width: 100%;
	border-collapse: collapse;
  	border-spacing: 0;
  	font-size: 1em;
}
.exercises .exercisesList{
	width: 100%;
	display: block;
}
.exercises h3{
	display: inline-block;
	height: 3em;
	color: 	white;
	background-color: #969696;
  	font-size: 1.5em;	
	margin: 0;
	padding: 0;
	vertical-align: top;
	border-bottom: 0.12em solid #969696;
}
.exercises h3:first-child{
	width: 70%;
	text-align: left;	
}
.exercises h3:nth-child(2){
	width: 29%;
	border-left: 0.12em solid #4b4b4b;
	text-align: left;	
}
.exercises .exercisesList p{
	display: inline-block;
	height: 3em;
	line-height: 3em;
	margin: 0;
	padding: 0;	
	border-bottom: 0.12em solid #969696;
}
.exercises .exercisesList p:nth-child(1n){
	width: 68%;
	text-align: left;
	padding: 0 0 0 2%;
}
.exercises .exercisesList p:nth-child(2n){
	width: 27%;
	text-align: center;
	border-left: 0.12em solid #969696;	
}
/*-----------------------newExercise------------------------------*/
.newExercisesForm input[type="text"]{
	width: 100%;
	margin-top: 0.5em; 
	margin-bottom: 0.5em;
}
.newExercisesForm input[type="range"]{
	width: 100%;
}
.newExercisesForm select{
	width: 100%;
	margin-top: 0.5em; 
	margin-bottom: 0.5em;
	height: 3em;
	background-color: #969696;
	color: white;
}
.newExercisesForm label{
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/*-------------------------postExposure----------------------------*/
form#postExposureForm > label{
	text-align: center;
	display: block;
}
form#postExposureForm fieldset{
	padding: 0;
	border: none;
	border-bottom: 1px dotted #969696; 
}
form#postExposureForm fieldset legend{
	border-top: 1px solid #969696;
	width: 100%;
}
form#postExposureForm fieldset label{
	display: inline-block;
	width: 90%;
}
form#postExposureForm input[type="range"]{
	width: 100%;
}
input#ervaring{
margin: 0 auto 0 auto;
}
div#addFile{
	font-size: 1em;
	color: white;
	width: 100%;
	background-color: #4b4b4b;
	height: 3em;
	display: block;
	line-height: 3em;	
	padding: 0 1em 0 1em;
}
div#addFile i{
	font-size: 2em;
	display: inline-block;
	border-left: 1px solid white;
	vertical-align: middle;
	padding:0.25em 0  0.25em 10%;
	margin-left: 15%;
	
}

/*----------------------------doctorsTable-------------------------------*/
table.doctorsTable{
	height: 70%;
	width: 100%;
	border-collapse: collapse;
  	border-spacing: 0;
  	font-size: 1em;
}
table.doctorsTable tr{
	height: 20%;
}
table.doctorsTable .left,{
	width: 20%;
	text-align: center;	
	border-bottom: 0.12em solid #969696;
}
table.doctorsTable .left img{
	width: 40%;
}
table.doctorsTable .right{	
  	padding: 1em 1em 1em 1em;
	vertical-align: top;
	width: 70%;	
	border-left: 0.12em solid #969696;
	border-bottom: 0.12em solid #969696;
}
table.doctorsTable .right .icon-remove{
	float: right;
	font-size: 1.5em;
}
table.doctorsTable .right h3{
	display: inline-block;
	margin: 0;
}
table.doctorsTable .right p{
	margin: 0;
	padding-top: 0.5em;
}
table.doctorsTable .right > label{
	display: inline-block;
}
table.doctorsTable .right div#share{
	margin-top: 0.5em;
	width: 100%;
	border-top: 1px dotted black; 
}
table.doctorsTable .right div#share p{
	width: 80%;
	display: inline-block;
}
/*-------------------------------------NewDoctor----------------------------------*/
section.newDoctor{
	background-color: #f0f0f0;
	box-shadow: 0px 0px 100px 30px #000;
	position: absolute;
	width: 90%;
	height: 90%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
section.newDoctor input[name="searchField"]{
	width: 90%;
	margin: auto;
	border: 1px solid #969696;
}
section.newDoctor input[type="button"]{
	width: 80%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	height: 3em;
	background-color: #4b4b4b;
	border: none;
	color: white;
	text-align: left; 
}
section.newDoctor i.icon-chevron-right{
	width: 10%;
	height: 2.5em;
	line-height: 2.5em;
	background-color: #4b4b4b;
	color: white;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
table.doctorsResultTable{
	width: 100%;
	border-collapse: collapse;
  	border-spacing: 0;
  	font-size: 1em;  	
}
table.doctorsResultTable td{
	padding: 0px;
}
table.doctorsResultTable tr{
	height: 5em;
	border-bottom: 0.12em solid #969696;
}
table.doctorsResultTable .left{
	width: 20%;
	text-align: center;	
	border-right: 0.12em solid #969696;
}
table.doctorsResultTable .left img{
	width: 40%;
}
table.doctorsResultTable .right{
	padding-bottom: 0;
	display: inline-block;
	vertical-align: bottom;
}
table.doctorsResultTable .right input[type="button"]{
	width: 100%;
	border: none;
	background-color: green;
	color: white;
	height: 2em;
	vertical-align: bottom;
} 
/*--------------------------------------StartExcercise---------------------------------*/
form#startExercise label[for="controle"]{
}
form#startExercise div#controle{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 40%;
	height: 40%;
	background-image: url(../../images/controle.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;		
}
form#startExercise input[type="number"]{
	margin-top: 40%;
	background-color: #f0f0f0;
	border: none;
	width: 80%;
	height: 25%;
	text-align: center;
	font-size: 3em;
}
form#startExercise h4{
	display: block;
	width: 85%;
	margin: auto;
}
form#startExercise p{
	width: 80%;
	margin: auto;
	background-color: #f0f0f0;
	border: 1px solid #969696;
	padding: 0.5em;	
	border-radius: 5px;
	line-height: 1.5em;
}
form#startExercise input[type="submit"]{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f0f0f0;
	border: none;
	height: 3.5em;
	margin-top: 1em;
	text-align: left;
	display: inline-block;
	vertical-align: bottom;
}
form#startExercise input[type="submit"] + i.icon-chevron-right{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 9%;
	display: inline-block;
	height: 1.25em;
	color: #969696;
	text-align: center;
	font-size: 2em;	
	background-color: #f0f0f0;
}
/*-------------------------------------Progress--------------------------------------*/
#progressChart{
	width: 100% !important;
        max-width: 800px;
    height: auto !important;
}
/*--------------------------------------SliderButton-----------------------------------*/
input[type="checkbox"] { 
	position: absolute;
	opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
	display: inline-block;
	vertical-align: middle;
	width: 40px;	height: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 999px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
}
/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
	background-color: #00e359;
	border: 1px solid rgba(0, 162, 63,1);
	box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	-moz-transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

