button{
	font-family: 'Oxygen', sans-serif;
	font-weight:300;
}

button:focus{
	outline: none;
}

input{
	font-family: 'Oxygen', sans-serif;
	font-weight:300;
	color:#ffffff;
}

input:focus{
	 outline: none;
}

::-webkit-input-placeholder{
		color:#ffffff;
	}

@media only screen and (min-width: 0px) and (max-width: 600px){

	.container{
		margin:0 auto;
		width:100%;
		min-height:100%;
		background-image: linear-gradient(to right top, #C15A5C 0%, #7AA19E 100%);
		border:1px solid transparent;
	}

	/*---------- LOGIN, REGISTREER & LOGIN-REGISTER---------*/

	#logo_fidence{
		display:block;
		background-image:url(../../images/logo_fidence_white.svg);
		background-repeat:no-repeat;
		background-size:12em;
		height:4em;
		width:12em;
		margin:auto;
		margin-bottom:3em;
	}

	section #login, #registreer{
		margin:auto;
		width:auto;
	}

	#login{
		padding-bottom:2em;
	}

	#login_registreer{
		padding-top:45%;
		padding-bottom:2em;
	}

	#login{
		padding-top:30%;
		padding-bottom:2em;
	}

	#login_registreer button, #login button, #registreer button {
	    width: 65%;
	    height:2.8em;
	    display: block;
	    margin:0 auto;	    
	    border:0;
	    border-left:0.5em solid #e55354;
	    margin-bottom: 1em;
	    background-color: rgba(255, 255, 255, 0.15);
	    text-align:left;
	   
	    padding-left:1em;
	    color:#ffffff;
		font-size:14pt;		
	}

	#login_registreer button:active, #login button:active, #registreer button:active{
		
	}

	#login_registreer button:nth-of-type(2n+2){
		border-left:0.5em solid #7ca6a4;
	}

	#login_registreer .arrow{
		display:block-inline;
		background-image:url(../../images/icon_forward.svg);
		background-repeat:no-repeat;
		background-size:0.8em;
		width:1em;
		height:1.2em;
		float:right;
		margin-right:0.3em;
	}

	#login input[type="text"], #registreer input[type="text"], #login input[type="password"], #registreer input[type="password"]  {
	    width: 65%;
	    height:2.8em;
	    display: block;
	    margin:0 auto;	    
	    border:0;
	    margin-bottom: 1em;
	    background-color: rgba(255, 255, 255, 0.15);
	    text-align:left;
	   
	    padding-left:1em;
		font-size:14pt;
	}
	
	#login input[type="button"] {
		width: 65%;
	    height:2.8em;
	    display: block;
	    margin:0 auto;	    
	    border:0;
	    margin-bottom: 1em;
	    background-color:#e55354;
	    text-align:center;
	   	font-weight:700;
		font-size:14pt;
	}

	#registreer input[type="button"] {
		width: 65%;
	    height:4em;
	    display: block;
	    margin:0 auto;	    
	    border:0;
	    margin-bottom: 1em;
	    background-color:#7ca6a4;
	    text-align:center;
	   	font-weight:700;
		font-size:10pt;
	}

	#login hr, #registreer hr{
		border-color:rgba(255,255,255, 0.2);
	}

	#login .exit, #registreer .exit{
		font-size:30pt;
		color:rgba(255,255,255, 0.4);
		margin-left:1em;
	}

	#login button{
		text-decoration: none;
		font-size:10pt;
		color:rgba(255,255,255,0.6);
		background-color:rgba(0,0,0,0);
		border:none;
	}

	#more-info{
		display:block-inline;
		background-image:url(../../images/icon_more_info.svg);
		background-repeat:no-repeat;

		background-position:right;
		
	}

	/*---------- LOGIN, REGISTREER & LOGIN-REGISTER END---------*/

	/*---------- HOOFDMENU ---------*/

	#hoofdmenu nav ul{
		margin:auto;
		border-bottom:0.1em solid rgba(255,255,255,0.2);
		margin:0 1em 0 1em;
		padding:1em;
		list-style-type: none;
	}

	#hoofdmenu nav li #search{
		display:inline-block;
		background-image:url(../../images/icon_search.svg);
		background-repeat:no-repeat;
		background-size:1.3em;
		height:1.3em;
		width:1.3em;
		float:left;
		vertical-align: middle;
		margin-top:0.4em;
	}

	#hoofdmenu nav li #logo_fidence{
		background-image:url(../../images/logo_fidence_white.svg);
		background-repeat:no-repeat;
		background-size:7em;
		height:2em;
		width:7em;
		margin:0 auto;
		vertical-align: middle;
	}
	#hoofdmenu nav li #menu{
		display:inline-block;
		background-image:url(../../images/icon_menu.svg);
		background-repeat:no-repeat;
		background-size:1.5em;
		height:1.5em;
		width:1.5em;
		float:right;
		margin-top:-1.5em;
	}
	#hoofdmenu > ul{
		list-style-type: none;
		padding-left:0;	
		margin:0;
	}

	#hoofdmenu > ul li{
		border-bottom:0.1em solid rgba(255,255,255,0.2);
		padding:2em 1em 2em 1em;
		margin:0em 1em 0em 1em;
	}

	#hoofdmenu .arrow{
		display:inline-block;
		background-image:url(../../images/icon_forward.svg);
		background-repeat:no-repeat;
		background-size:1em;
		width:1em;
		height:1.5em;
		vertical-align: middle;
		float:right;
		
	}
	#hoofdmenu #user{
		display:inline-block;
		border-radius: 50%;
		background-image:url(../../images/icon_administrator.svg);
		background-repeat:no-repeat;
		background-size:2.9em;
		height:3.1em;
		width:2.9em;
		vertical-align: middle;
		margin-right:1em;			
	}

	#hoofdmenu #exposures{
		display:inline-block;
		background-image:url(../../images/icon_exposures.svg);
		background-repeat:no-repeat;
		background-size:3.5em;
		height:2em;
		width:3.5em;
		vertical-align: middle;
		margin-right:1em;	
	}

	#hoofdmenu #progress{
		display:inline-block;
		background-image:url(../../images/icon_progress.svg);
		background-repeat:no-repeat;
		background-size:3.5em;
		height:1.5em;
		width:3.5em;
		vertical-align: middle;
		margin-right:1em;	
	}

	#hoofdmenu #administrators{
		display:inline-block;
		background-image:url(../../images/icon_administrators.svg);
		background-repeat:no-repeat;
		background-size:3.5em;
		height:3.1em;
		width:3.5em;
		vertical-align: middle;
		margin-right:1em;		
	}
	#hoofdmenu #settings{
		display:inline-block;
		background-image:url(../../images/icon_settings.svg);
		background-repeat:no-repeat;
		background-size:3.5em;
		height:3em;
		width:3.5em;
		vertical-align: middle;
		margin-right:1em;			
	}

	/*---------- HOOFDMENU END ---------*/

	/*---------- EXPOSURES ---------*/

	#exposures nav ul{
		list-style-type: none;
		padding:1em 1em 0em 1em;
		margin:0;

	}

	#exposures nav ul li{	
		vertical-align: middle;
	}
	
	#exposures nav li #back{		
		background-image:url(../../images/icon_back.svg);
		background-repeat:no-repeat;
		background-size:1em;
		height:1.5em;
		width:1em;
		float:left;
		vertical-align: middle;
	}

	#exposures nav li #add_exposure{
		font-size:22pt;		
		background-image:url(../../images/icon_add_exposure.svg);
		background-repeat:no-repeat;
		background-size:1em;
		width:1em;
		height:1em;
		float:right;
	}	

	#exposures nav ul li h2{
		font-size:18pt;
		font-weight:300;
		margin-left:auto;
		margin-right:auto;
		margin-top:0;
		left:0;
		right:0;
		width:4em;
	}

	#exposures > ul{
		list-style-type: none;
		padding-left:0;	
		margin:0;
	}

	#exposures > ul li{
		border-bottom:0.1em solid rgba(255,255,255,0.2);

		padding:1.3em 1em 1.3em 1em;
		margin:0em 1em 0em 1em;
		font-size:11pt;
	}

	#exposures > ul > li:first-of-type{
		font-weight:700;
		font-size:10pt;
		padding-bottom:0.5em;
	}
	#exposures > ul li .graad{
		font-weight:700;
		float:right;
		margin:0em 1em 0em 0em;		
	}

	#exposures select{
		margin-top:1em;
	}

	#exposures input[type=range]{
		width:80%;
		-webkit-appearance: none;
		background-color:#a5a1a0;
		border:0.1em solid rgba(0,0,0,0.2);
		border-radius:1em;	
		height:0.5em;
		margin-top:2em;
	}

	#exposures select{
		background-color:rgba(124,166,164,0.5);
		border:0em;
		width:80%;
		height:5%;
		color:rgba(255,255,255, 0.6);
	}

	#exposures input[type="button"] {
		width: 45%;
	    height:3.5em;
	    display: block;
	    margin:0 auto;	    
	    border:0;
	    margin-bottom: 1em;
	    background-color:#7ca6a4;
	    text-align:center;
	   	font-weight:700;
		font-size:10pt;
		color:#fff;
	}

	#exposures h2{
		font-size:18pt;
		font-weight:300;
		margin:0;
	}
	#exposures input[type="text"]{
		font-size:18pt;
		font-weight:300;
		margin:0;
		background-color: transparent;
		border: none;
		width: 100%;
	}
	#exposures h3{
		font-size:10pt;
		margin:0;
	}

	#exposures #tag_category_name{
		font-size:10pt;
		font-weight:300;
		text-align:center;
		margin:0;
	}

	#exposures h4{
		font-size:45pt;
		margin:0;
		padding:0.25em 0em 1em 0em;
		text-align:center;
	}

	#exposures hr{
		opacity:0.4;
		margin:2.5em 0em 1em 0em;
	}

	#exposures section p{
		font-size:10pt;
		margin-top:0.5em;
	}
	#exposures #postExposureErvaring{
		font-size:10pt;
		margin-top:0.5em;
		background-color: transparent;
		border: none;
		color: white;
	}

	#exposures > div{
		padding:0em 1em 1em 1em
	}

	#exposures #oefening{
/*		font-size:18pt;
		font-weight:300;
		margin-left:auto;
		margin-right:auto;
		position:absolute;
		margin-top:-0.5em;
		left:0;
		right:0;*/
		width:12.5em;
	}
	#exposures input[type="number"]{
		margin-top: 0.25em;
		background-color: transparent;
		border: none;
		text-align: center;
		font-size: 3em;
	}
	#exposures #exposure_tag{
		display:block;
		background-image:url(../../images/icon_exposure_tag.svg);
		background-repeat:no-repeat;
		background-size:7em;
		width:7em;
		height:10em;
		margin:auto;
		margin-top:3em;
		margin-bottom:2em;
	}

	#exposures #time_needed {
		font-size:10pt;
		width:100%;
		margin-top:1em;

	}
	#exposures #time_needed input[type=radio]{
		-webkit-appearance:none;
		background-color:rgba(255,255,255,0);
		border:0.1em solid #fff;
		width:1.8em;
		height:1.8em;
		border-radius:100%;
		vertical-align: middle;
		margin:1em;
		
	}

	#exposures #time_needed input[type=radio]:checked{
		background-color:rgba(255,255,255,1);
	}

	#exposures #success_box{
		width:100%;
		height:5em;
		background-color:rgba(0,0,0,0.1);
		border-bottom:0.1em solid rgba(255,255,255,0.3);
		margin-bottom:1em;
	}

	#exposures #success_box ul{
		list-style-type: none;		
		padding-left:0;
		margin:auto;
		padding-top:0.8em;
		text-align: center;
	}

	#exposures #success_box li{
		border:0.1em solid rgba(255,255,255,0.3);
		border-radius:100%;
		width:3.5em;
		height:3.5em;
		text-align:center;
		display:inline-block;
		vertical-align: middle;
		margin-right:1em;
		margin-left:1em;
	}
	#exposures #success_box li:active{
		border:0.1em solid rgba(255,255,255,1);
	}

	#exposures #success_box li div{
		border:0.1em solid rgba(255,255,255,0.3);
		border-radius:100%;
		width:2.5em;
		height:2.5em;
		margin:auto;
		margin-top:0.45em;
	}

	#exposures #success_box li div:active{
		border:0.1em solid rgba(255,255,255,1);
	}

	#exposures #success_box p{
		font-size:8pt;
		padding:0;
	}

	#exposures .success{
		margin-top:1.5em;
	}
	#exposures #no_margin_bottom{
		margin-bottom:0;
	}
	#exposures .arrow{
		display:block-inline;
		background-image:url(../../images/icon_forward.svg);
		background-repeat:no-repeat;
		background-size:0.8em;
		width:1em;
		height:1.2em;
		float:right;
		margin-right:0.3em;
	}
/*---------- EXPOSURES END ---------*/

/*---------- VOORTGANG ---------*/
	#voortgang nav ul{
		list-style-type: none;
		padding:1em 1em 0em 1em;
		margin:0;
	}

	#voortgang nav ul li{
		display:inline-block;
		vertical-align: middle;
	}
	
	#voortgang nav li #back{		
		background-image:url(../../images/icon_back.svg);
		background-repeat:no-repeat;
		background-size:1em;
		height:1.5em;
		width:1em;
		float:left;
		vertical-align: middle;
	}

	#voortgang nav li #add_exposure{
		font-size:22pt;		
		background-image:url(../../images/icon_add_exposure.svg);
		background-repeat:no-repeat;
		background-size:1em;
		width:1em;
		height:1em;
		display:inline-block;

	}	

	#voortgang nav ul li h2{
		font-size:18pt;
		font-weight:300;
		margin-left:auto;
		margin-right:auto;
		position:absolute;
		margin-top:-0.5em;
		left:0;
		right:0;
		width:4em;
	}

	#voortgang > div{
		padding:1em;
	}

	#voortgang > div ul{
		list-style-type:none;
		flex-wrap:wrap;
		padding-left:0;
	}

	#voortgang > div li:nth-of-type(2n+1){
		float:left;
		display:block;
		width:49%;
		height:25%;
		border-right:0.1em solid rgba(255,255,255,0.4);
		border-bottom:0.1em solid rgba(255,255,255,0.4);
		padding:0.8em, 0.8em, 0em, 0.8em;
		text-align: center;
	}
	#voortgang > div li:nth-of-type(2n+2){
		float:left;
		display:block;
		width:49%;
		height:25%;
		border-bottom:0.1em solid rgba(255,255,255,0.4);
		padding:0.8em, 0.8em, 0em, 0.8em;
		text-align: center;
	}

	#voortgang > div li p{
		font-size:10pt;
		margin:0;
	}

	#voortgang > div .graad_oefening{		
		font-size:36pt;
		font-weight:700;
	}

	#voortgang .voortgang_brons{
		float:left;
		background-image: linear-gradient(to top, #b97433 0%, #b4835a 100%);
		width:10%;
		height:100%;
		bottom:0;
		border:0.1em solid rgba(255,255,255,1);
		border-bottom:0em;
	}

/*---------- VOORTGANG END ---------*/
/*---------- EXPOSURES ---------*/
	#beheerders nav ul{
		list-style-type: none;
		padding:1em 1em 0em 1em;
		margin:0;
	}

	#beheerders nav ul li{
		display:inline-block;
		vertical-align: middle;
	}
	
	#beheerders nav li #back{		
		background-image:url(../../images/icon_back.svg);
		background-repeat:no-repeat;
		background-size:1em;
		height:1.5em;
		width:1em;
		float:left;
		vertical-align: middle;
	}

	#beheerders nav li #add_exposure{
		font-size:22pt;		
		background-image:url(../../images/icon_add_exposure.svg);
		background-repeat:no-repeat;
		background-size:1em;
		width:1em;
		height:1em;
		display:inline-block;
		margin-left: 10em;
	}	

	#beheerders nav ul li h2{
		font-size:18pt;
		font-weight:300;
		margin-left:auto;
		margin-right:auto;
		position:absolute;
		margin-top:-0.5em;
		left:0;
		right:0;
		width:4em;
	}

	#beheerders section{
		padding:0em 1em 0em 1em;
	}

	#beheerders section ul{
		list-style-type: none;
		padding-left:0;
		margin:0;
	}

	#beheerders section ul li{
		border-bottom:0.1em solid rgba(255,255,255,0.4);
		float:left;
		clear:both;
		width:100%;
	}

	#beheerders .profileImg{

		background-color:rgba(0,0,0,0.3);
		margin-right:1em;
		float:left;
		width:5em;
		height:9em;
		border:0;
		border-right:0.1em solid rgba(255,255,255,0.4);
	}

	#beheerders section ul li p{
		font-size:11pt;
	}

	#beheerders section ul li .remove{
		float:right;
		line-height:0;
		margin-top:0.8em;
		font-size:30pt;
		color:rgba(255,255,255, 0.4);
	}

	#beheerders #no_margin_bottom{
		margin-bottom:0;
	}

	#beheerders .invitation{
		background-color:#7ca6a4;
		border:0.1em solid rgba(255,255,255, 0.4);
		height:2em;
		font-size:10pt;
		width:60%;
		float:left;
		text-align: center;
		padding-top:0.7em;
	}

	#beheerders .beheerder{
		
	}

	#beheerders input[type=text]{
		padding-left:2.5em;
		background-image:url(../../images/icon_search.svg);
		background-repeat:no-repeat;
		background-size:2em;
		background-position:0em, 1em;
		
		width:100%;
		height:7%;
		background-color:rgba(0,0,0,0);
		border:0;
		font-size:11pt;
	}


	/*---------- EXPOSURES END ---------*/
}